* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  position: relative;
}

.parent{
  position: relative;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: 30px auto;
}

.child{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}

.child1{
  position: absolute;
  right: 20%;
  bottom: 20%;
}

/* .fixed{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100px;
  background-color: yellow;
} */

.navbar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: red;
  z-index: 1;
}


