* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  position: relative;
}




.parent{
  position: relative;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: 30px auto;
}

.child{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}

.child1{
  position: absolute;
  right: 20%;
  bottom: 20%;
}
