/* Tag name selector */

/* h1 {
  background-color: blue;
}

h2{
    background-color: red;
}

p{
    background-color: gray;
} */

/* Class name selector */

h1 {
  background-color: blueviolet;
}

.head {
  background-color: aqua;
}

/* Id name Selector  */

#head {
  background-color: red;
}

/* Universal Selector  */

* {
  background-color: cadetblue;
}
